#!/bin/bash

export PATH={{ project.root }}/tools/google_appengine:$PATH

# run development server
{{ project.root }}/tools/google_appengine/dev_appserver.py \
	--host {{ ansible_fqdn }} \
	--port {{ gae_python_app_server_port }} \
	--use_mtime_file_watcher=yes \
	--skip_sdk_update_check=yes \
	--storage_path /home/vagrant/tmp \
	{{ app.root }}
